<!DOCTYPE html>
<html>

  <head>
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <div class="destination-countries">

    	<div class="dest_1"></div>
    		<h3>Spain</h3>
    		<h4>2,321,291</h4>
    		<h5> Population: 12,212,212</h5>
    	</div>

    	<div class="dest_2"></div>
    	    <h3>Spain</h3>
    		<h4>2,321,291</h4>
    		<h5> Population: 12,212,212</h5>
    	</div>

    	<div class="dest_3"></div>
    	    <h3>Spain</h3>
    		<h4>2,321,291</h4>
    		<h5> Population: 12,212,212</h5>
    	</div>

    	<div class="dest_4"></div>
    	    <h3>Spain</h3>
    		<h4>2,321,291</h4>
    		<h5> Population: 12,212,212</h5>
    	</div>

    	<div class="dest_pick"></div>
    	    <h3>Spain</h3>
    		<h4>2,321,291</h4>
    		<h5> Population: 12,212,212</h5>
    	</div>

    </div>

    <div class="origin_conutrie">
    		<div class="name_and_year">
    			<h1>2015 | SYRIA</h1>
    			<h2>Refugees leacving: 2,123,123 - Total population: 84,015,424</h2>
    		</div>
    	<div class="dest_2"></div>
    	<div class="dest_3"></div>
    	<div class="dest_4"></div>
    	<div class="dest_pick"></div>
    </div>


  </body>
</html>
